<% include _header %>

<h1>Registro<h1>

<form action="/signup" method="post">
    <div class="form-group">
        <input name = "username" type="text" class="form-control"
        placeholder="Nombre de usuario" required autofocus/>
    </div>
    <div class = "form-group">
        <input name = "password" type="password" class="form-control"
        placeholder="Contraseña" required/>

    </div>
    <div class="form-group">
    <select class="form-control" name="role">

    <option value="zombie-king" required>zombie-king</option>
    
    <option value="zombie-queen" required>zombie-Queen</option>

    <option value="zombie-boss" required>zombie-Boss</option>
    
    </select>
    </div>
    <input type="submit" value="Registrarse" class="btn btn-primary btn-block"
    />
</form>



<% include _footer %>